aiohttp
anytree
https://github.com/hsjsa/appudir/archive/refs/heads/master.zip
https://github.com/Anshusharma75/jhamak/archive/refs/heads/master.zip
attrdict
https://github.com/hsjsa/beamuTfoolSoup4/archive/refs/heads/master.zip
cfscrape
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
lk21
lxml
pillow
psutil
psycopg2-binary
pybase64
https://github.com/hsjsa/pairogaram/archive/refs/heads/main.zip
pyshorteners
python-dotenv
https://github.com/ahupp/python-magic/archive/refs/tags/0.4.14.zip
https://github.com/hsjsa/paithon-tegelarm-bomt/archive/refs/heads/main.zip
https://github.com/Anshusharma75/gandu/archive/refs/heads/master.zip
requests
telegraph
tenacity
https://github.com/pyrogram/tgcrypto/archive/950503f1673414593ccdaf7128e8fd39d254d082.zip
https://github.com/hsjsa/tttool/archive/d77a951122a1f368fe0e0a889d62b849fe5f1f6f.zip
urllib3